//For larger genomes- (Resource Allocation)
// ########  Examples-  #######

process {  
  withName: TRF {  
    cpus = 8  
    memory = '32 GB'  
    time = '24h'  
  }  
}  

process {  
  withName: LTRHARVEST {  
    cpus = 8  
    memory = '64 GB'  
    time = '48h'  
  }  
}  

process {  
  withName: LTR_RETROTRANSPOSONS {  
    cpus = 16             // LTRdigest uses HMMER3 (CPU-heavy)  
    memory = '128 GB'     // for larger genomes 
    time = '72h'  
  }  
}  


process {  
  withName: TRASH {  
    cpus = 8                 // Multi-threading for large genomes  
    memory = '64 GB'         // Optimally Increase to around 128 GB for vertebrate genomes  
    time = '72h'  
  }  
}  


process {
  withName: MODDOTPLOT {
    cpus = 4
    memory = '16 GB'
  }
}

process {  
  withName: BCFTOOLS_ROH {  
    cpus = 8  
    memory = '32 GB'      // Adjust for genome size  
    time = '24h'  
  }  
}  

process {
  withName: HET_DISTRIBUTION {
    cpus = 4
    memory = '8 GB'
  }
}

process {
  withName: RAISD {
    cpus = 8
    memory = '32 GB'       // Adjust accordingly for large genomes
    time = '24h'
  }
}